In [27]:
#!pip install pandas seaborn numpy

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('../New Datasets/ApproximatedStockDataFinal.csv',on_bad_lines='skip',delimiter='\t')
df.head()

  Category Ticker        Date        Open       Close        High         Low
0   Health    UNH  2021-03-31  372.799988  372.070007  377.000000  371.799988
1   Health    UNH  2021-04-01  372.200012  367.070007  372.690002  365.760010
2   Health    UNH  2021-04-02  370.910000  368.620000  372.660000  366.700000
3   Health    UNH  2021-04-03  370.260000  369.400000  372.650000  367.170000
4   Health    UNH  2021-04-04  369.940000  369.790000  372.640000  367.410000

In [4]:
df['aggrPercent']=round((((df['Close']-df['Open'])/df['Open'])*100),4)
df

,Category,Ticker,Date,Open,Close,High,Low,aggrPercent
0,Health,UNH,2021-03-31,372.799988,372.070007,377.000000,371.799988,-0.1958
1,Health,UNH,2021-04-01,372.200012,367.070007,372.690002,365.760010,-1.3783
2,Health,UNH,2021-04-02,370.910000,368.620000,372.660000,366.700000,-0.6174
3,Health,UNH,2021-04-03,370.260000,369.400000,372.650000,367.170000,-0.2323
4,Health,UNH,2021-04-04,369.940000,369.790000,372.640000,367.410000,-0.0405
...,...,...,...,...,...,...,...,...
2919,Tech,GOOGL,2023-03-27,104.620003,102.459999,104.760002,101.930000,-2.0646
2920,Tech,GOOGL,2023-03-28,102.440002,101.029999,102.449997,99.739998,-1.3764
2921,Tech,GOOGL,2023-03-29,102.279999,101.389999,102.489998,100.650002,-0.8702
2922,Tech,GOOGL,2023-03-30,100.910004,100.889999,101.160004,99.779999,-0.0198
2923,Tech,GOOGL,2023-03-31,101.300003,103.730003,103.889999,101.040001,2.3988

In [7]:
#from google.colab import files
df.columns=['Category','Ticker','Date','Open','Close','High','Low','AggrPercent']
df.to_csv('../New Datasets/AggregatedStockFinal.csv',sep='\t',index=False)
#files.download('aggregatedStockV1.csv')