In [27]:
#!pip install pandas seaborn numpy

In [28]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv('/content/ApproximatedStockData.csv',on_bad_lines='skip',delimiter='\t')
df.head()

  CATEGORY TICKER        DATE    OPEN   CLOSE    HIGH      LOW
0   Health    UNH  2022-08-01  542.27  535.38  543.65  531.000
1   Health    UNH  2022-08-02  537.55  535.46  540.53  531.720
2   Health    UNH  2022-08-03  537.26  540.65  543.62  535.690
3   Health    UNH  2022-08-04  539.29  533.75  540.43  532.755
4   Health    UNH  2022-08-05  530.00  535.06  535.50  527.560

In [30]:
df['aggrPercent']=round((((df['CLOSE']-df['OPEN'])/df['OPEN'])*100),4)
df

    CATEGORY TICKER        DATE    OPEN   CLOSE    HIGH      LOW  aggrPercent
0     Health    UNH  2022-08-01  542.27  535.38  543.65  531.000      -1.2706
1     Health    UNH  2022-08-02  537.55  535.46  540.53  531.720      -0.3888
2     Health    UNH  2022-08-03  537.26  540.65  543.62  535.690       0.6310
3     Health    UNH  2022-08-04  539.29  533.75  540.43  532.755      -1.0273
4     Health    UNH  2022-08-05  530.00  535.06  535.50  527.560       0.9547
..       ...    ...         ...     ...     ...     ...      ...          ...
731     Tech  GOOGL  2023-01-27   97.31   99.37  100.32   97.310       2.1169
732     Tech  GOOGL  2023-01-28   97.40   98.16   99.31   96.850       0.7803
733     Tech  GOOGL  2023-01-29   97.44   97.55   98.80   96.620       0.1129
734     Tech  GOOGL  2023-01-30   97.48   96.94   98.29   96.395      -0.5540
735     Tech  GOOGL  2023-01-31   96.87   98.84   98.88   96.820       2.0337

[736 rows x 8 columns]

In [31]:
from google.colab import files
df.columns=['CATEGORY','TICKER','DATE','OPEN','CLOSE','HIGH','LOW','AGGRPERCENT']
df.to_csv('aggregatedStockV1.csv',sep='\t',index=False)
files.download('aggregatedStockV1.csv')